<!-- --------------------BOOTSTRAP----------------------- -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="../public/css/home.css">

<%- include("./partials/header.ejs") %>
<div class="wrapper">
    <table class="table table-bordered table-success table-striped table-hover table-responsive-lg border-dark" id="tab">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Meet Link</th>
            <th scope="col">No. of Participants</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Creator</th>
            <th scope="col">Controls</th>
        </tr>
        </thead>
        <tbody>
          <% const DateOptions = { day:  "2-digit", month:  "2-digit", year: 'numeric' }; %>
          <% for(let i=0; i < attendanceData.length; ++i) { %>
             <tr>
            <th scope="row"><%= (i+1) %></th>
            <td><%= attendanceData[i].url %></td>
            <td><%= attendanceData[i].data.length %></td>
            <td><%= attendanceData[i].attendance_date.toLocaleDateString('en-GB', DateOptions) %></td>
            <td><%= attendanceData[i].attendance_date.toLocaleTimeString('en-US') %></td>
            <td><%= attendanceData[i].taker %></td>
           <td>
              <form action="/home/<%= attendanceData[i]._id %>/delete"  method="post" style="display: inline;"><button type="submit" class="controls" ><i class="far fa-trash-alt"></i></button></form>
               
               <button class="controls" data-target="#edit-popup" id="<%=(i)%>" onclick="wow(this);"><i class="fas fa-pen"></i></button>
               <button class="controls" onclick="document.location='/home/<%= attendanceData[i]._id %>/details'"><i class="fab fa-readme"></i></button>
           </td>
        </tr>
          <%}%>

          <!-- Error -->
          <!-- <tr>
            <th scope="row">2</th>
            <td>aaa-bbb-ccc</td>
            <td>67</td>
            <td>02/02/2021</td>
            <td>6:00 PM</td>
            <td>ABC</td>
            <td>
                <button class="controls"><i class="far fa-trash-alt"></i></button>
                <button class="controls"><i class="fas fa-pen"></i></button>
                <button class="controls"><i class="fab fa-readme"></i></button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>uuu-vvv-www</td>
            <td>47</td>
            <td>03/03/2021</td>
            <td>8:00 AM</td>
            <td>XYZ</td>
            <td>
                <button class="controls"><i class="far fa-trash-alt"></i></button>
                <button class="controls"><i class="fas fa-pen"></i></button>
                <button class="controls"><i class="fab fa-readme"></i></button>
            </td>
          </tr> -->
          <!-- error -->
        </tbody>
      </table>
      <div class="buttons">
        <button class="btn btn-outline-success" data-target="#popup" >+ Add Entry</button> 
        <button class="btn btn-outline-success"  data-target="#copy-popup">Copy Code</button> 

      </div>   
</div>
<!-- -------POPUP FOR ADDING ELEMENTS------ -->

<div class="popup " id="popup">
  <div class="popup-header">
    <div class="title">Add Details</div>
    <div data-close-button class="close-button">&times;</div>
  </div>
  <div class="popup-body">
    <form class="needs-validation"action="/home"  method="POST"  novalidate>
      <input type="text" style="display: none;visibility: hidden;" name="user_name" value="<%= username %>" >
      <div>
      <input type="text" name="meet_url" placeholder="Meetlink" class="form-control element" required>
        <div class="invalid-feedback">This Field can't be empty</div>
      </div>
      <br>
      <div>
      <input type="date" name= "entered_date" class="form-control element" required>
        <div class="invalid-feedback">This Field can't be empty</div>
      </div>
      <br>
      <div>
      <input type="time" name= "entered_time" class="form-control element" required>
        <div class="invalid-feedback">This Field can't be empty</div>
      </div>
      <br>
      <div>
      <input type="text" name= "entered_taker" placeholder="Creator" class="form-control element" required>
        <div class="invalid-feedback">This Field can't be empty</div>
      </div>
      <br>
      <button class="btn btn-success" type="submit">+ Add</button>
    </form>
  </div>
</div>

<div id="overlay"></div>

<!-- Popup For Copying Code -->

<div class="popup" id="copy-popup">
  <div class="popup-header">
    <div class="title"> lorem ipsum</div>
    <div class="close-button" data-close-button>&times;</div>
    </div>
  <div class="popup-body">
    <form class="needs-validation" novalidate>
      <lable for="passwordtext">Enter your Password</label><br>
        <div>
          <input type="text" placeholder="Password" class="form-control element" id="passwordtext" required>
          <div class="invalid-feedback">This field can't be empty</div>
        </div>
        <br>
    </form>
    <div class="btn btn-outline-success" onclick="getcode()">Get code</div>
  </div>
</div>

<!-- state -->
<input type="text" style="display: none;visibility: hidden;" value="<%= username %>" id="user_name">
<input type="text" style="display: none;visibility: hidden;" value="" id="pass_word">


<!-- Popup for editing -->

<div class="popup " id="edit-popup">
  <div class="popup-header">
    <div class="title">Make Ammends</div>
    <div data-close-button class="close-button">&times;</div>
  </div>
  <div class="popup-body">
    <!-- <% for(let i=0; i<attendanceData.length; ++i) { %>
       <form class="needs-validation"   novalidate>
      <input type="text" style="display: none;visibility: hidden;" name="user_name" value="<%= username %>" >
      <div>
        <input type="text" name="enter_sno" placeholder="<%= i+1 %>" class="form-control element" required>
          <div class="invalid-feedback">This Field can't be empty</div>
        </div>
        <br>
      <div>
      <input type="text" name="meet_url" placeholder="<%= attendanceData[i].url %>" class="form-control element" required>
        <div class="invalid-feedback">This Field can't be empty</div>
      </div>
      <br>
      <div>
        <input type="text" name="No. of Participants" placeholder="<%= attendanceData[i].data.length %>" class="form-control element" required>
          <div class="invalid-feedback">This Field can't be empty</div>
        </div>
        <br>
      <div>
      <input type="date" name= "entered_date" class="form-control element" required>
        <div class="invalid-feedback">This Field can't be empty</div>
      </div>
      <br>
      <div>
      <input type="time" name= "entered_time" class="form-control element" required>
        <div class="invalid-feedback">This Field can't be empty</div>
      </div>
      <br>
      <div>
      <input type="text" name= "entered_taker" placeholder="Creator" class="form-control element" required>
        <div class="invalid-feedback">This Field can't be empty</div>
      </div>
      <br>
      <div class="btn btn-outline-success" type="submit">Edit</div>
    </form>
    <%}%> -->
    <form class="needs-validation"   novalidate>
      <input type="text" style="display: none;visibility: hidden;" name="user_name" value="<%= username %>" >
      <div>
        <input type="text" name="enter_sno" placeholder="serial no" class="form-control element" id="sno_link" required>
          <div class="invalid-feedback">This Field can't be empty</div>
        </div>
        <br>
        <div>
          <input type="text" name="meet_url" placeholder="meet url" class="form-control element" id="meet_url" required>
            <div class="invalid-feedback">This Field can't be empty</div>
          </div>
    </form>
  </div>
</div>



<script src="https://kit.fontawesome.com/e5a9d749f9.js" crossorigin="anonymous"></script>
<script src="../public/js/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script>
   var x =`<%= attendanceData %>`;
  function wow(e){
    console.log(x," ",typeof(x));

    document.getElementById('sno_link').value=e.id;
    document.getElementById('meet_url').value=x[e.id].url 

  }
</script>