<!-- ---------------------BOOTSTRAP------------------------- -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="../../public/css/meetDetails.css">
<link rel="stylesheet" href="../../public/css/header.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

<%- include("./partials/favicon.ejs") %>
<%- include("./partials/header.ejs") %>
<% const DateOptions = { day:  "2-digit", month:  "2-digit", year: 'numeric' }; %>
<!-- Meet Details -->

<div class="list-group details">
  <div class="row">
    <div class="col col-6">
      <a href="#" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Meetlink</h5>
        </div>
        <p class="mb-1"><%= attendanceDataID.url %></p>
      </a>
    </div>
    <div class="col col-6">
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Date</h5>
        </div>
        <p class="mb-1"><%= attendanceDataID.attendance_date.toLocaleDateString('en-GB', DateOptions) %></p>
      </a>
    </div>
    <div class="col col-6">
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Time</h5>
        </div>
        <p class="mb-1"><%=  attendanceDataID.attendance_date.toLocaleTimeString('en-US') %></p>
      </a>
    </div>
    <div class="col col-6">
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Creator</h5>
        </div>
        <p class="mb-1"><%=  attendanceDataID.taker %></p>
      </a>
    </div>
  </div>
</div>

<!-- -------SIDEBAR------------- -->
<div class="main">
  <div class="sidebar">
    <div class="sidebar-header">
      <h1>Meet Details</h1>
    </div>
    <hr id="break">
    <div class="sidebar-body">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Meetlink</h5>
          </div>
          <p class="mb-1"><%= attendanceDataID.url %></p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Date</h5>
          </div>
          <p class="mb-1"><%= attendanceDataID.attendance_date.toLocaleDateString('en-GB', DateOptions) %></p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Time</h5>
          </div>
          <p class="mb-1"><%=  attendanceDataID.attendance_date.toLocaleTimeString('en-US') %></p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Creator</h5>
          </div>
          <p class="mb-1"><%=  attendanceDataID.taker %></p>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="wrapper">
      <table class="table table-bordered table-success table-striped table-hover table-responsive-lg" id="tab">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Present</th>
              <th scope="col">Absent</th>
            </tr>
          </thead>
          <tbody>
         <% for(let i=0; i< attendanceDataID.data.length; ++i) { %>
              <tr>
                  <th scope="row"><%= (i+1) %></th>
                  <td><%= attendanceDataID.data[i] %></td>
                  <td><input type="radio" name="status<%= [i] %>" id="present-<%= i %>" checked></td>
                  <td><input type="radio" name="status<%= [i] %>" id="<%= i %>" onclick="absent(this)"></td>
              </tr>
          <%}%>
          </tbody>
        </table>
        <button class="btn btn-outline-success" data-target="#adding-students">Add Participant</button>
    </div>
  </div>
</div>

<!-- -----------ADDING STUDENTS------------- -->

<div class="popup " id="adding-students">
  <div class="popup-header">
    <div class="title">Add Student</div>
    <div data-close-button class="close-button">&times;</div>
  </div>
  <div class="popup-body">
    <form method="POST" action= "./addParticipant" class="row g-3 needs-validation" novalidate>
      <div>
        <input type="text" name="name" class="form-control element" id="validationCustom01" placeholder="Name Of Students" required>
        <div class="invalid-feedback">
          This Field Can't Be Empty
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-success" type="submit">+ Add</button>
      </div>
    </form>
  </div>
</div>

<div id="overlay"></div>


<%# attendanceDataID %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../public/js/meetDetails.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>